.networks {
  margin-left: 70px;
}

.network {
  display: flex;

  &__item:not(:first-child) {
    margin-left: 10px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    color: $primaryColor;

    margin-bottom: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    justify-content: center;
    fill: currentColor;

    background-color: rgba(255, 255, 255, 0.1);
    color: $primaryColor;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accentColor;
    }
  }
}
