.modal-close {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: visible;

  min-width: 528px;
  min-height: 581px;
  background-color: $primaryColor;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px 40px;
}

.modal__text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;

  text-align: center;
  letter-spacing: 0.03em;

  color: $primaryTextColor;
}
